 
/* start css.sty */
.ecrm-1728{font-size:154%;}
.ecrm-1200{font-size:109%;}
.t1-zi4r-0-x-x-109{}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecrm-1000{font-size:90%;}
.ecrm-0900{font-size:81%;}
.t1-zi4r-0-{font-size:90%;}
.t1-zi4b-0-{font-size:90%;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecti-0900{font-size:81%; font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2ex; font-style:italic; font-size:85%;}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
div.array {text-align:center;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure > p {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.rotatebox{display: inline-block;}
dt.enumerate{float:left; clear:left; margin-right:0.2em; margin-left:2em;}
dt.compactenum{float:left; clear:left; margin-right:0.2em; margin-left:2em;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
tr#TBL-5-1- td{border-top:0.1829em solid} 
tr#TBL-5-1- td{border-bottom:0.1829em solid} 
tr#TBL-5-2- td{border-bottom:0.1829em solid} 
tr#TBL-9-1- td{border-top:0.1829em solid} 
tr#TBL-9-1- td{border-bottom:0.1829em solid} 
tr#TBL-9-2- td{border-bottom:0.1829em solid} 
tr#TBL-13-1- td{border-top:0.1829em solid} 
tr#TBL-13-1- td{border-bottom:0.1829em solid} 
tr#TBL-13-2- td{border-bottom:0.1829em solid} 
tr#TBL-17-1- td{border-top:0.1829em solid} 
tr#TBL-17-1- td{border-bottom:0.1829em solid} 
tr#TBL-17-2- td{border-bottom:0.1829em solid} 
tr#TBL-21-1- td{border-top:0.1829em solid} 
tr#TBL-21-1- td{border-bottom:0.1829em solid} 
tr#TBL-21-2- td{border-bottom:0.1829em solid} 
tr#TBL-25-1- td{border-top:0.1829em solid} 
tr#TBL-25-1- td{border-bottom:0.1829em solid} 
tr#TBL-25-2- td{border-bottom:0.06096em solid}
tr#TBL-25-3- td{border-bottom:0.06096em solid}
tr#TBL-25-4- td{border-bottom:0.06096em solid}
tr#TBL-25-5- td{border-bottom:0.06096em solid}
tr#TBL-25-6- td{border-bottom:0.1829em solid} 
tr#TBL-29-1- td{border-top:0.1829em solid} 
tr#TBL-29-1- td{border-bottom:0.1829em solid} 
tr#TBL-29-2- td{border-bottom:0.06096em solid}
tr#TBL-29-3- td{border-bottom:0.06096em solid}
tr#TBL-29-4- td{border-bottom:0.06096em solid}
tr#TBL-29-5- td{border-bottom:0.06096em solid}
tr#TBL-29-6- td{border-bottom:0.06096em solid}
tr#TBL-29-7- td{border-bottom:0.06096em solid}
tr#TBL-29-8- td{border-bottom:0.06096em solid}
tr#TBL-29-9- td{border-bottom:0.06096em solid}
tr#TBL-29-10- td{border-bottom:0.06096em solid}
tr#TBL-29-11- td{border-bottom:0.06096em solid}
tr#TBL-29-12- td{border-bottom:0.06096em solid}
tr#TBL-29-13- td{border-bottom:0.06096em solid}
tr#TBL-29-14- td{border-bottom:0.06096em solid}
tr#TBL-29-15- td{border-bottom:0.06096em solid}
tr#TBL-29-16- td{border-bottom:0.06096em solid}
tr#TBL-29-17- td{border-bottom:0.06096em solid}
tr#TBL-29-18- td{border-bottom:0.06096em solid}
tr#TBL-29-19- td{border-bottom:0.06096em solid}
tr#TBL-29-20- td{border-bottom:0.1829em solid} 
tr#TBL-33-1- td{border-top:0.1829em solid} 
tr#TBL-33-1- td{border-bottom:0.1829em solid} 
tr#TBL-33-2- td{border-bottom:0.06096em solid}
tr#TBL-33-3- td{border-bottom:0.06096em solid}
tr#TBL-33-4- td{border-bottom:0.06096em solid}
tr#TBL-33-5- td{border-bottom:0.1829em solid} 
tr#TBL-37-1- td{border-top:0.1829em solid} 
tr#TBL-37-1- td{border-bottom:0.1829em solid} 
tr#TBL-37-2- td{border-bottom:0.1829em solid} 
tr#TBL-37-3- td{border-bottom:0.1829em solid} 
tr#TBL-41-1- td{border-top:0.1829em solid} 
tr#TBL-41-1- td{border-bottom:0.1829em solid} 
tr#TBL-41-2- td{border-bottom:0.1829em solid} 
tr#TBL-45-1- td{border-top:0.1829em solid} 
tr#TBL-45-1- td{border-bottom:0.1829em solid} 
tr#TBL-45-2- td{border-bottom:0.06096em solid}
tr#TBL-45-3- td{border-bottom:0.06096em solid}
tr#TBL-45-4- td{border-bottom:0.06096em solid}
tr#TBL-45-5- td{border-bottom:0.06096em solid}
tr#TBL-45-6- td{border-bottom:0.1829em solid} 
tr#TBL-49-1- td{border-top:0.1829em solid} 
tr#TBL-49-1- td{border-bottom:0.1829em solid} 
tr#TBL-49-2- td{border-bottom:0.06096em solid}
tr#TBL-49-3- td{border-bottom:0.06096em solid}
tr#TBL-49-4- td{border-bottom:0.1829em solid} 
tr#TBL-53-1- td{border-top:0.1829em solid} 
tr#TBL-53-1- td{border-bottom:0.1829em solid} 
tr#TBL-53-2- td{border-bottom:0.06096em solid}
tr#TBL-53-3- td{border-bottom:0.06096em solid}
tr#TBL-53-4- td{border-bottom:0.06096em solid}
tr#TBL-53-5- td{border-bottom:0.1829em solid} 
tr#TBL-57-1- td{border-top:0.1829em solid} 
tr#TBL-57-1- td{border-bottom:0.1829em solid} 
tr#TBL-57-2- td{border-bottom:0.06096em solid}
tr#TBL-57-3- td{border-bottom:0.06096em solid}
tr#TBL-57-4- td{border-bottom:0.1829em solid} 
tr#TBL-61-1- td{border-top:0.1829em solid} 
tr#TBL-61-1- td{border-bottom:0.1829em solid} 
tr#TBL-61-2- td{border-bottom:0.06096em solid}
tr#TBL-61-3- td{border-bottom:0.1829em solid} 
tr#TBL-65-1- td{border-top:0.1829em solid} 
tr#TBL-65-1- td{border-bottom:0.1829em solid} 
tr#TBL-65-2- td{border-bottom:0.06096em solid}
tr#TBL-65-3- td{border-bottom:0.06096em solid}
tr#TBL-65-4- td{border-bottom:0.1829em solid} 
tr#TBL-69-1- td{border-top:0.1829em solid} 
tr#TBL-69-1- td{border-bottom:0.1829em solid} 
tr#TBL-69-2- td{border-bottom:0.1829em solid} 
tr#TBL-73-1- td{border-top:0.1829em solid} 
tr#TBL-73-1- td{border-bottom:0.1829em solid} 
tr#TBL-73-2- td{border-bottom:0.06096em solid}
tr#TBL-73-3- td{border-bottom:0.1829em solid} 
tr#TBL-77-1- td{border-top:0.1829em solid} 
tr#TBL-77-1- td{border-bottom:0.1829em solid} 
tr#TBL-77-2- td{border-bottom:0.06096em solid}
tr#TBL-77-3- td{border-bottom:0.06096em solid}
tr#TBL-77-4- td{border-bottom:0.06096em solid}
tr#TBL-77-5- td{border-bottom:0.06096em solid}
tr#TBL-77-6- td{border-bottom:0.1829em solid} 
tr#TBL-81-1- td{border-top:0.1829em solid} 
tr#TBL-81-1- td{border-bottom:0.1829em solid} 
tr#TBL-81-2- td{border-bottom:0.06096em solid}
tr#TBL-81-3- td{border-bottom:0.06096em solid}
tr#TBL-81-4- td{border-bottom:0.1829em solid} 
tr#TBL-85-1- td{border-top:0.1829em solid} 
tr#TBL-85-1- td{border-bottom:0.1829em solid} 
tr#TBL-85-2- td{border-bottom:0.06096em solid}
tr#TBL-85-3- td{border-bottom:0.06096em solid}
tr#TBL-85-4- td{border-bottom:0.06096em solid}
tr#TBL-85-5- td{border-bottom:0.06096em solid}
tr#TBL-85-6- td{border-bottom:0.06096em solid}
tr#TBL-85-7- td{border-bottom:0.06096em solid}
tr#TBL-85-8- td{border-bottom:0.1829em solid} 
tr#TBL-89-1- td{border-top:0.1829em solid} 
tr#TBL-89-1- td{border-bottom:0.1829em solid} 
tr#TBL-89-2- td{border-bottom:0.1829em solid} 
tr#TBL-89-3- td{border-bottom:0.06096em solid}
tr#TBL-89-4- td{border-bottom:0.06096em solid}
tr#TBL-89-5- td{border-bottom:0.06096em solid}
tr#TBL-89-6- td{border-bottom:0.06096em solid}
tr#TBL-89-7- td{border-bottom:0.1829em solid} 
tr#TBL-93-1- td{border-top:0.1829em solid} 
tr#TBL-93-1- td{border-bottom:0.1829em solid} 
tr#TBL-93-2- td{border-bottom:0.06096em solid}
tr#TBL-93-3- td{border-bottom:0.06096em solid}
tr#TBL-93-4- td{border-bottom:0.06096em solid}
tr#TBL-93-5- td{border-bottom:0.06096em solid}
tr#TBL-93-6- td{border-bottom:0.06096em solid}
tr#TBL-93-7- td{border-bottom:0.1829em solid} 
tr#TBL-97-1- td{border-top:0.1829em solid} 
tr#TBL-97-1- td{border-bottom:0.1829em solid} 
tr#TBL-97-2- td{border-bottom:0.06096em solid}
tr#TBL-97-3- td{border-bottom:0.06096em solid}
tr#TBL-97-4- td{border-bottom:0.06096em solid}
tr#TBL-97-5- td{border-bottom:0.06096em solid}
tr#TBL-97-6- td{border-bottom:0.06096em solid}
tr#TBL-97-7- td{border-bottom:0.06096em solid}
tr#TBL-97-8- td{border-bottom:0.06096em solid}
tr#TBL-97-9- td{border-bottom:0.06096em solid}
tr#TBL-97-10- td{border-bottom:0.06096em solid}
tr#TBL-97-11- td{border-bottom:0.06096em solid}
tr#TBL-97-12- td{border-bottom:0.1829em solid} 
tr#TBL-101-1- td{border-top:0.1829em solid} 
tr#TBL-101-1- td{border-bottom:0.1829em solid} 
tr#TBL-101-2- td{border-bottom:0.06096em solid}
tr#TBL-101-3- td{border-bottom:0.06096em solid}
tr#TBL-101-4- td{border-bottom:0.06096em solid}
tr#TBL-101-5- td{border-bottom:0.06096em solid}
tr#TBL-101-6- td{border-bottom:0.06096em solid}
tr#TBL-101-7- td{border-bottom:0.06096em solid}
tr#TBL-101-8- td{border-bottom:0.06096em solid}
tr#TBL-101-9- td{border-bottom:0.06096em solid}
tr#TBL-101-10- td{border-bottom:0.06096em solid}
tr#TBL-101-11- td{border-bottom:0.1829em solid} 
tr#TBL-105-1- td{border-top:0.1829em solid} 
tr#TBL-105-1- td{border-bottom:0.1829em solid} 
tr#TBL-105-2- td{border-bottom:0.06096em solid}
tr#TBL-105-3- td{border-bottom:0.06096em solid}
tr#TBL-105-4- td{border-bottom:0.06096em solid}
tr#TBL-105-5- td{border-bottom:0.1829em solid} 
tr#TBL-109-1- td{border-top:0.1829em solid} 
tr#TBL-109-1- td{border-bottom:0.1829em solid} 
tr#TBL-109-2- td{border-bottom:0.06096em solid}
tr#TBL-109-3- td{border-bottom:0.1829em solid} 
tr#TBL-113-1- td{border-top:0.1829em solid} 
tr#TBL-113-1- td{border-bottom:0.1829em solid} 
tr#TBL-113-2- td{border-bottom:0.06096em solid}
tr#TBL-113-3- td{border-bottom:0.06096em solid}
tr#TBL-113-4- td{border-bottom:0.06096em solid}
tr#TBL-113-5- td{border-bottom:0.06096em solid}
tr#TBL-113-6- td{border-bottom:0.1829em solid} 
tr#TBL-117-1- td{border-top:0.1829em solid} 
tr#TBL-117-1- td{border-bottom:0.1829em solid} 
tr#TBL-117-2- td{border-bottom:0.1829em solid} 
tr#TBL-121-1- td{border-top:0.1829em solid} 
tr#TBL-121-1- td{border-bottom:0.1829em solid} 
tr#TBL-121-2- td{border-bottom:0.1829em solid} 
tr#TBL-125-1- td{border-top:0.1829em solid} 
tr#TBL-125-1- td{border-bottom:0.1829em solid} 
tr#TBL-125-2- td{border-bottom:0.1829em solid} 
tr#TBL-129-1- td{border-top:0.1829em solid} 
tr#TBL-129-1- td{border-bottom:0.1829em solid} 
tr#TBL-129-2- td{border-bottom:0.1829em solid} 
tr#TBL-133-1- td{border-top:0.1829em solid} 
tr#TBL-133-1- td{border-bottom:0.1829em solid} 
tr#TBL-133-2- td{border-bottom:0.06096em solid}
tr#TBL-133-3- td{border-bottom:0.06096em solid}
tr#TBL-133-4- td{border-bottom:0.1829em solid} 
tr#TBL-137-1- td{border-top:0.1829em solid} 
tr#TBL-137-1- td{border-bottom:0.1829em solid} 
tr#TBL-137-2- td{border-bottom:0.06096em solid}
tr#TBL-137-3- td{border-bottom:0.06096em solid}
tr#TBL-137-4- td{border-bottom:0.06096em solid}
tr#TBL-137-5- td{border-bottom:0.06096em solid}
tr#TBL-137-6- td{border-bottom:0.06096em solid}
tr#TBL-137-7- td{border-bottom:0.06096em solid}
tr#TBL-137-8- td{border-bottom:0.06096em solid}
tr#TBL-137-9- td{border-bottom:0.1829em solid} 
tr#TBL-141-1- td{border-top:0.1829em solid} 
tr#TBL-141-1- td{border-bottom:0.1829em solid} 
tr#TBL-141-2- td{border-bottom:0.06096em solid}
tr#TBL-141-3- td{border-bottom:0.1829em solid} 
tr#TBL-145-1- td{border-top:0.1829em solid} 
tr#TBL-145-1- td{border-bottom:0.1829em solid} 
tr#TBL-149-1- td{border-top:0.1829em solid} 
tr#TBL-149-1- td{border-bottom:0.1829em solid} 
tr#TBL-149-2- td{border-bottom:0.06096em solid}
tr#TBL-149-3- td{border-bottom:0.06096em solid}
tr#TBL-149-4- td{border-bottom:0.06096em solid}
tr#TBL-149-5- td{border-bottom:0.1829em solid} 
tr#TBL-153-1- td{border-top:0.1829em solid} 
tr#TBL-153-1- td{border-bottom:0.1829em solid} 
tr#TBL-157-1- td{border-top:0.1829em solid} 
tr#TBL-157-1- td{border-bottom:0.1829em solid} 
tr#TBL-157-2- td{border-bottom:0.06096em solid}
tr#TBL-157-3- td{border-bottom:0.1829em solid} 
tr#TBL-161-1- td{border-top:0.1829em solid} 
tr#TBL-161-1- td{border-bottom:0.1829em solid} 
tr#TBL-161-2- td{border-bottom:0.1829em solid} 
tr#TBL-165-1- td{border-top:0.1829em solid} 
tr#TBL-165-1- td{border-bottom:0.1829em solid} 
tr#TBL-165-2- td{border-bottom:0.06096em solid}
tr#TBL-165-3- td{border-bottom:0.06096em solid}
tr#TBL-165-4- td{border-bottom:0.06096em solid}
tr#TBL-165-5- td{border-bottom:0.06096em solid}
tr#TBL-165-6- td{border-bottom:0.1829em solid} 
tr#TBL-169-1- td{border-top:0.1829em solid} 
tr#TBL-169-1- td{border-bottom:0.1829em solid} 
tr#TBL-169-2- td{border-bottom:0.1829em solid} 
tr#TBL-173-1- td{border-top:0.1829em solid} 
tr#TBL-173-1- td{border-bottom:0.1829em solid} 
tr#TBL-173-2- td{border-bottom:0.06096em solid}
tr#TBL-173-3- td{border-bottom:0.06096em solid}
tr#TBL-173-4- td{border-bottom:0.06096em solid}
tr#TBL-173-5- td{border-bottom:0.06096em solid}
tr#TBL-173-6- td{border-bottom:0.06096em solid}
tr#TBL-173-7- td{border-bottom:0.1829em solid} 
tr#TBL-177-1- td{border-top:0.1829em solid} 
tr#TBL-177-1- td{border-bottom:0.1829em solid} 
tr#TBL-177-2- td{border-bottom:0.1829em solid} 
tr#TBL-181-1- td{border-top:0.1829em solid} 
tr#TBL-181-1- td{border-bottom:0.1829em solid} 
tr#TBL-181-2- td{border-bottom:0.06096em solid}
tr#TBL-181-3- td{border-bottom:0.06096em solid}
tr#TBL-181-4- td{border-bottom:0.06096em solid}
tr#TBL-181-5- td{border-bottom:0.06096em solid}
tr#TBL-181-6- td{border-bottom:0.06096em solid}
tr#TBL-181-7- td{border-bottom:0.1829em solid} 
tr#TBL-185-1- td{border-top:0.1829em solid} 
tr#TBL-185-1- td{border-bottom:0.1829em solid} 
tr#TBL-185-2- td{border-bottom:0.1829em solid} 
tr#TBL-189-1- td{border-top:0.1829em solid} 
tr#TBL-189-1- td{border-bottom:0.1829em solid} 
tr#TBL-189-2- td{border-bottom:0.06096em solid}
tr#TBL-189-3- td{border-bottom:0.06096em solid}
tr#TBL-189-4- td{border-bottom:0.06096em solid}
tr#TBL-189-5- td{border-bottom:0.06096em solid}
tr#TBL-189-6- td{border-bottom:0.06096em solid}
tr#TBL-189-7- td{border-bottom:0.06096em solid}
tr#TBL-189-8- td{border-bottom:0.06096em solid}
tr#TBL-189-9- td{border-bottom:0.06096em solid}
tr#TBL-189-10- td{border-bottom:0.06096em solid}
tr#TBL-189-11- td{border-bottom:0.1829em solid} 
tr#TBL-193-1- td{border-top:0.1829em solid} 
tr#TBL-193-1- td{border-bottom:0.1829em solid} 
tr#TBL-193-2- td{border-bottom:0.1829em solid} 
tr#TBL-197-1- td{border-top:0.1829em solid} 
tr#TBL-197-1- td{border-bottom:0.1829em solid} 
tr#TBL-197-2- td{border-bottom:0.06096em solid}
tr#TBL-197-3- td{border-bottom:0.06096em solid}
tr#TBL-197-4- td{border-bottom:0.06096em solid}
tr#TBL-197-5- td{border-bottom:0.1829em solid} 
tr#TBL-201-1- td{border-top:0.1829em solid} 
tr#TBL-201-1- td{border-bottom:0.1829em solid} 
 #TBL-201-2-3{ background-color:#FFFF00}
span#textcolor25{color:#000000}
tr#TBL-201-2- td{border-bottom:0.06096em solid}
 #TBL-201-3-3{ background-color:#FF0000}
span#textcolor26{color:#FFFFFF}
tr#TBL-201-3- td{border-bottom:0.06096em solid}
 #TBL-201-4-3{ background-color:#00FF00}
span#textcolor27{color:#000000}
tr#TBL-201-4- td{border-bottom:0.06096em solid}
 #TBL-201-5-3{ background-color:#C000A0}
span#textcolor28{color:#FFFFFF}
tr#TBL-201-5- td{border-bottom:0.06096em solid}
 #TBL-201-6-3{ background-color:#336699}
span#textcolor29{color:#FFFFFF}
tr#TBL-201-6- td{border-bottom:0.06096em solid}
 #TBL-201-7-3{ background-color:#FF0000}
span#textcolor30{color:#FFFFFF}
tr#TBL-201-7- td{border-bottom:0.06096em solid}
 #TBL-201-8-3{ background-color:#404040}
span#textcolor31{color:#FFFFFF}
tr#TBL-201-8- td{border-bottom:0.06096em solid}
 #TBL-201-9-3{ background-color:#808080}
span#textcolor32{color:#FFFFFF}
tr#TBL-201-9- td{border-bottom:0.1829em solid} 
tr#TBL-205-1- td{border-top:0.1829em solid} 
tr#TBL-205-1- td{border-bottom:0.1829em solid} 
tr#TBL-205-2- td{border-bottom:0.06096em solid}
tr#TBL-205-3- td{border-bottom:0.1829em solid} 
tr#TBL-209-1- td{border-top:0.1829em solid} 
tr#TBL-209-1- td{border-bottom:0.1829em solid} 
 #TBL-209-2-3{ background-color:#C000A0}
span#textcolor42{color:#FFFFFF}
tr#TBL-209-2- td{border-bottom:0.06096em solid}
 #TBL-209-3-3{ background-color:#336699}
span#textcolor43{color:#FFFFFF}
tr#TBL-209-3- td{border-bottom:0.06096em solid}
 #TBL-209-4-3{ background-color:#FF0000}
span#textcolor44{color:#FFFFFF}
tr#TBL-209-4- td{border-bottom:0.1829em solid} 
tr#TBL-213-1- td{border-top:0.1829em solid} 
tr#TBL-213-1- td{border-bottom:0.1829em solid} 
tr#TBL-213-2- td{border-bottom:0.06096em solid}
tr#TBL-213-3- td{border-bottom:0.1829em solid} 
tr#TBL-217-1- td{border-top:0.1829em solid} 
tr#TBL-217-1- td{border-bottom:0.1829em solid} 
 #TBL-217-2-3{ background-color:#C000A0}
span#textcolor54{color:#FFFFFF}
tr#TBL-217-2- td{border-bottom:0.06096em solid}
 #TBL-217-3-3{ background-color:#336699}
span#textcolor55{color:#FFFFFF}
tr#TBL-217-3- td{border-bottom:0.06096em solid}
 #TBL-217-4-3{ background-color:#FF0000}
span#textcolor56{color:#FFFFFF}
tr#TBL-217-4- td{border-bottom:0.1829em solid} 
tr#TBL-221-1- td{border-top:0.1829em solid} 
tr#TBL-221-1- td{border-bottom:0.1829em solid} 
tr#TBL-221-2- td{border-bottom:0.06096em solid}
tr#TBL-221-3- td{border-bottom:0.1829em solid} 
tr#TBL-225-1- td{border-top:0.1829em solid} 
tr#TBL-225-1- td{border-bottom:0.06096em solid}
tr#TBL-225-2- td{border-bottom:0.1829em solid} 
tr#TBL-229-1- td{border-top:0.1829em solid} 
tr#TBL-229-1- td{border-bottom:0.1829em solid} 
 #TBL-229-2-3{ background-color:#C000A0}
span#textcolor66{color:#FFFFFF}
tr#TBL-229-2- td{border-bottom:0.06096em solid}
 #TBL-229-3-3{ background-color:#336699}
span#textcolor67{color:#FFFFFF}
tr#TBL-229-3- td{border-bottom:0.06096em solid}
 #TBL-229-4-3{ background-color:#FF0000}
span#textcolor68{color:#FFFFFF}
tr#TBL-229-4- td{border-bottom:0.1829em solid} 
tr#TBL-233-1- td{border-top:0.1829em solid} 
tr#TBL-233-1- td{border-bottom:0.1829em solid} 
tr#TBL-233-2- td{border-bottom:0.06096em solid}
tr#TBL-233-3- td{border-bottom:0.1829em solid} 
tr#TBL-237-1- td{border-top:0.1829em solid} 
tr#TBL-237-1- td{border-bottom:0.06096em solid}
tr#TBL-237-2- td{border-bottom:0.1829em solid} 
tr#TBL-241-1- td{border-top:0.1829em solid} 
tr#TBL-241-1- td{border-bottom:0.1829em solid} 
 #TBL-241-2-3{ background-color:#C000A0}
span#textcolor81{color:#FFFFFF}
tr#TBL-241-2- td{border-bottom:0.06096em solid}
 #TBL-241-3-3{ background-color:#336699}
span#textcolor82{color:#FFFFFF}
tr#TBL-241-3- td{border-bottom:0.06096em solid}
 #TBL-241-4-3{ background-color:#FF0000}
span#textcolor83{color:#FFFFFF}
tr#TBL-241-4- td{border-bottom:0.06096em solid}
 #TBL-241-5-3{ background-color:#808080}
span#textcolor84{color:#FFFFFF}
tr#TBL-241-5- td{border-bottom:0.1829em solid} 
tr#TBL-245-1- td{border-top:0.1829em solid} 
tr#TBL-245-1- td{border-bottom:0.1829em solid} 
tr#TBL-245-2- td{border-bottom:0.1829em solid} 
tr#TBL-249-1- td{border-top:0.1829em solid} 
tr#TBL-249-1- td{border-bottom:0.1829em solid} 
tr#TBL-249-2- td{border-bottom:0.1829em solid} 
tr#TBL-253-1- td{border-top:0.1829em solid} 
tr#TBL-253-1- td{border-bottom:0.1829em solid} 
tr#TBL-253-2- td{border-bottom:0.06096em solid}
tr#TBL-253-3- td{border-bottom:0.1829em solid} 
tr#TBL-257-1- td{border-top:0.1829em solid} 
tr#TBL-257-1- td{border-bottom:0.1829em solid} 
tr#TBL-257-2- td{border-bottom:0.06096em solid}
tr#TBL-257-3- td{border-bottom:0.1829em solid} 
tr#TBL-261-1- td{border-top:0.1829em solid} 
tr#TBL-261-1- td{border-bottom:0.1829em solid} 
tr#TBL-261-2- td{border-bottom:0.1829em solid} 
tr#TBL-265-1- td{border-top:0.1829em solid} 
tr#TBL-265-1- td{border-bottom:0.1829em solid} 
tr#TBL-265-2- td{border-bottom:0.06096em solid}
tr#TBL-265-3- td{border-bottom:0.1829em solid} 
tr#TBL-269-1- td{border-top:0.1829em solid} 
tr#TBL-269-1- td{border-bottom:0.1829em solid} 
tr#TBL-269-2- td{border-bottom:0.1829em solid} 
tr#TBL-273-1- td{border-top:0.1829em solid} 
tr#TBL-273-1- td{border-bottom:0.1829em solid} 
tr#TBL-273-2- td{border-bottom:0.1829em solid} 
tr#TBL-277-1- td{border-top:0.1829em solid} 
tr#TBL-277-1- td{border-bottom:0.1829em solid} 
tr#TBL-277-2- td{border-bottom:0.1829em solid} 
tr#TBL-281-1- td{border-top:0.1829em solid} 
tr#TBL-281-1- td{border-bottom:0.1829em solid} 
tr#TBL-281-2- td{border-bottom:0.1829em solid} 
tr#TBL-285-1- td{border-top:0.1829em solid} 
tr#TBL-285-1- td{border-bottom:0.1829em solid} 
tr#TBL-285-2- td{border-bottom:0.06096em solid}
tr#TBL-285-3- td{border-bottom:0.06096em solid}
tr#TBL-285-4- td{border-bottom:0.06096em solid}
tr#TBL-285-5- td{border-bottom:0.1829em solid} 
tr#TBL-289-1- td{border-top:0.1829em solid} 
tr#TBL-289-1- td{border-bottom:0.1829em solid} 
tr#TBL-289-2- td{border-bottom:0.1829em solid} 
tr#TBL-293-1- td{border-top:0.1829em solid} 
tr#TBL-293-1- td{border-bottom:0.1829em solid} 
tr#TBL-293-2- td{border-bottom:0.1829em solid} 
tr#TBL-297-1- td{border-top:0.1829em solid} 
tr#TBL-297-1- td{border-bottom:0.1829em solid} 
tr#TBL-297-2- td{border-bottom:0.1829em solid} 
tr#TBL-301-1- td{border-top:0.1829em solid} 
tr#TBL-301-1- td{border-bottom:0.1829em solid} 
tr#TBL-301-2- td{border-bottom:0.1829em solid} 
tr#TBL-305-1- td{border-top:0.1829em solid} 
tr#TBL-305-1- td{border-bottom:0.1829em solid} 
tr#TBL-305-2- td{border-bottom:0.1829em solid} 
tr#TBL-309-1- td{border-top:0.1829em solid} 
tr#TBL-309-1- td{border-bottom:0.1829em solid} 
tr#TBL-309-2- td{border-bottom:0.1829em solid} 
tr#TBL-313-1- td{border-top:0.1829em solid} 
tr#TBL-313-1- td{border-bottom:0.1829em solid} 
tr#TBL-313-2- td{border-bottom:0.1829em solid} 
tr#TBL-317-1- td{border-top:0.1829em solid} 
tr#TBL-317-1- td{border-bottom:0.1829em solid} 
tr#TBL-317-2- td{border-bottom:0.1829em solid} 
tr#TBL-321-1- td{border-top:0.1829em solid} 
tr#TBL-321-1- td{border-bottom:0.1829em solid} 
 #TBL-321-2-3{ background-color:#808080}
span#textcolor127{color:#FFFFFF}
tr#TBL-321-2- td{border-bottom:0.06096em solid}
 #TBL-321-3-3{ background-color:#FFFF00}
span#textcolor128{color:#000000}
tr#TBL-321-3- td{border-bottom:0.06096em solid}
 #TBL-321-4-3{ background-color:#C000A0}
span#textcolor129{color:#FFFFFF}
tr#TBL-321-4- td{border-bottom:0.06096em solid}
 #TBL-321-5-3{ background-color:#C000A0}
span#textcolor130{color:#FFFFFF}
tr#TBL-321-5- td{border-bottom:0.06096em solid}
 #TBL-321-6-3{ background-color:#808080}
span#textcolor131{color:#FFFFFF}
tr#TBL-321-6- td{border-bottom:0.06096em solid}
 #TBL-321-7-3{ background-color:#C000A0}
span#textcolor132{color:#FFFFFF}
tr#TBL-321-7- td{border-bottom:0.06096em solid}
 #TBL-321-8-3{ background-color:#336699}
span#textcolor133{color:#FFFFFF}
tr#TBL-321-8- td{border-bottom:0.06096em solid}
 #TBL-321-9-3{ background-color:#00FF00}
span#textcolor134{color:#000000}
tr#TBL-321-9- td{border-bottom:0.06096em solid}
 #TBL-321-10-3{ background-color:#FF0000}
span#textcolor135{color:#FFFFFF}
tr#TBL-321-10- td{border-bottom:0.06096em solid}
 #TBL-321-11-3{ background-color:#808080}
span#textcolor136{color:#FFFFFF}
tr#TBL-321-11- td{border-bottom:0.06096em solid}
 #TBL-321-12-3{ background-color:#00FF00}
span#textcolor137{color:#000000}
tr#TBL-321-12- td{border-bottom:0.06096em solid}
 #TBL-321-13-3{ background-color:#FF0000}
span#textcolor138{color:#FFFFFF}
tr#TBL-321-13- td{border-bottom:0.06096em solid}
 #TBL-321-14-3{ background-color:#808080}
span#textcolor139{color:#FFFFFF}
tr#TBL-321-14- td{border-bottom:0.06096em solid}
 #TBL-321-15-3{ background-color:#808080}
span#textcolor140{color:#FFFFFF}
tr#TBL-321-15- td{border-bottom:0.1829em solid} 
tr#TBL-325-1- td{border-top:0.1829em solid} 
tr#TBL-325-1- td{border-bottom:0.1829em solid} 
tr#TBL-325-2- td{border-bottom:0.06096em solid}
tr#TBL-325-3- td{border-bottom:0.06096em solid}
tr#TBL-325-4- td{border-bottom:0.1829em solid} 
tr#TBL-329-1- td{border-top:0.1829em solid} 
tr#TBL-329-1- td{border-bottom:0.1829em solid} 
tr#TBL-329-2- td{border-bottom:0.06096em solid}
tr#TBL-329-3- td{border-bottom:0.06096em solid}
tr#TBL-329-4- td{border-bottom:0.1829em solid} 
tr#TBL-333-1- td{border-top:0.1829em solid} 
tr#TBL-333-1- td{border-bottom:0.1829em solid} 
tr#TBL-333-2- td{border-bottom:0.1829em solid} 
tr#TBL-337-1- td{border-top:0.1829em solid} 
tr#TBL-337-1- td{border-bottom:0.1829em solid} 
tr#TBL-337-2- td{border-bottom:0.06096em solid}
tr#TBL-337-3- td{border-bottom:0.1829em solid} 
tr#TBL-341-1- td{border-top:0.1829em solid} 
tr#TBL-341-1- td{border-bottom:0.1829em solid} 
tr#TBL-341-2- td{border-bottom:0.06096em solid}
tr#TBL-341-3- td{border-bottom:0.1829em solid} 
tr#TBL-345-1- td{border-top:0.1829em solid} 
tr#TBL-345-1- td{border-bottom:0.1829em solid} 
tr#TBL-345-2- td{border-bottom:0.06096em solid}
tr#TBL-345-3- td{border-bottom:0.1829em solid} 
tr#TBL-349-1- td{border-top:0.1829em solid} 
tr#TBL-349-1- td{border-bottom:0.1829em solid} 
tr#TBL-349-2- td{border-bottom:0.1829em solid} 
tr#TBL-353-1- td{border-top:0.1829em solid} 
tr#TBL-353-1- td{border-bottom:0.1829em solid} 
tr#TBL-353-2- td{border-bottom:0.06096em solid}
tr#TBL-353-3- td{border-bottom:0.1829em solid} 
tr#TBL-357-1- td{border-top:0.1829em solid} 
tr#TBL-357-1- td{border-bottom:0.1829em solid} 
tr#TBL-357-2- td{border-bottom:0.06096em solid}
tr#TBL-357-3- td{border-bottom:0.06096em solid}
tr#TBL-357-4- td{border-bottom:0.1829em solid} 
tr#TBL-361-1- td{border-top:0.1829em solid} 
tr#TBL-361-1- td{border-bottom:0.1829em solid} 
tr#TBL-361-2- td{border-bottom:0.06096em solid}
tr#TBL-361-3- td{border-bottom:0.1829em solid} 
tr#TBL-365-1- td{border-top:0.1829em solid} 
tr#TBL-365-1- td{border-bottom:0.1829em solid} 
tr#TBL-365-2- td{border-bottom:0.06096em solid}
tr#TBL-365-3- td{border-bottom:0.1829em solid} 
tr#TBL-369-1- td{border-top:0.1829em solid} 
tr#TBL-369-1- td{border-bottom:0.1829em solid} 
tr#TBL-369-2- td{border-bottom:0.06096em solid}
tr#TBL-369-3- td{border-bottom:0.06096em solid}
tr#TBL-369-4- td{border-bottom:0.1829em solid} 
tr#TBL-373-1- td{border-top:0.1829em solid} 
tr#TBL-373-1- td{border-bottom:0.1829em solid} 
tr#TBL-373-2- td{border-bottom:0.06096em solid}
tr#TBL-373-3- td{border-bottom:0.06096em solid}
tr#TBL-373-4- td{border-bottom:0.1829em solid} 
tr#TBL-377-1- td{border-top:0.1829em solid} 
tr#TBL-377-1- td{border-bottom:0.1829em solid} 
tr#TBL-377-2- td{border-bottom:0.06096em solid}
tr#TBL-377-3- td{border-bottom:0.06096em solid}
tr#TBL-377-4- td{border-bottom:0.1829em solid} 
tr#TBL-381-1- td{border-top:0.1829em solid} 
tr#TBL-381-1- td{border-bottom:0.1829em solid} 
tr#TBL-381-2- td{border-bottom:0.1829em solid} 
tr#TBL-385-1- td{border-top:0.1829em solid} 
tr#TBL-385-1- td{border-bottom:0.1829em solid} 
tr#TBL-385-2- td{border-bottom:0.1829em solid} 
tr#TBL-389-1- td{border-top:0.1829em solid} 
tr#TBL-389-1- td{border-bottom:0.1829em solid} 
tr#TBL-389-2- td{border-bottom:0.06096em solid}
tr#TBL-389-3- td{border-bottom:0.1829em solid} 
tr#TBL-393-1- td{border-top:0.1829em solid} 
tr#TBL-393-1- td{border-bottom:0.1829em solid} 
tr#TBL-393-2- td{border-bottom:0.06096em solid}
tr#TBL-393-3- td{border-bottom:0.06096em solid}
tr#TBL-393-4- td{border-bottom:0.06096em solid}
tr#TBL-393-5- td{border-bottom:0.1829em solid} 
tr#TBL-397-1- td{border-top:0.1829em solid} 
tr#TBL-397-1- td{border-bottom:0.1829em solid} 
tr#TBL-397-2- td{border-bottom:0.06096em solid}
tr#TBL-397-3- td{border-bottom:0.1829em solid} 
tr#TBL-401-1- td{border-top:0.1829em solid} 
tr#TBL-401-1- td{border-bottom:0.1829em solid} 
tr#TBL-401-2- td{border-bottom:0.06096em solid}
tr#TBL-401-3- td{border-bottom:0.06096em solid}
tr#TBL-401-4- td{border-bottom:0.06096em solid}
tr#TBL-401-5- td{border-bottom:0.06096em solid}
tr#TBL-401-6- td{border-bottom:0.06096em solid}
tr#TBL-401-7- td{border-bottom:0.1829em solid} 
tr#TBL-405-1- td{border-top:0.1829em solid} 
tr#TBL-405-1- td{border-bottom:0.1829em solid} 
tr#TBL-405-2- td{border-bottom:0.1829em solid} 
tr#TBL-409-1- td{border-top:0.1829em solid} 
tr#TBL-409-1- td{border-bottom:0.1829em solid} 
tr#TBL-409-2- td{border-bottom:0.1829em solid} 
tr#TBL-413-1- td{border-top:0.1829em solid} 
tr#TBL-413-1- td{border-bottom:0.1829em solid} 
tr#TBL-413-2- td{border-bottom:0.1829em solid} 
tr#TBL-417-1- td{border-top:0.1829em solid} 
tr#TBL-417-1- td{border-bottom:0.1829em solid} 
 #TBL-417-2-3{ background-color:#808080}
span#textcolor168{color:#FFFFFF}
tr#TBL-417-2- td{border-bottom:0.06096em solid}
 #TBL-417-3-3{ background-color:#808080}
span#textcolor169{color:#FFFFFF}
tr#TBL-417-3- td{border-bottom:0.06096em solid}
 #TBL-417-4-3{ background-color:#FFFF00}
span#textcolor170{color:#000000}
tr#TBL-417-4- td{border-bottom:0.06096em solid}
 #TBL-417-5-3{ background-color:#C000A0}
span#textcolor171{color:#FFFFFF}
tr#TBL-417-5- td{border-bottom:0.06096em solid}
 #TBL-417-6-3{ background-color:#C000A0}
span#textcolor172{color:#FFFFFF}
tr#TBL-417-6- td{border-bottom:0.06096em solid}
 #TBL-417-7-3{ background-color:#336699}
span#textcolor173{color:#FFFFFF}
tr#TBL-417-7- td{border-bottom:0.06096em solid}
 #TBL-417-8-3{ background-color:#00FF00}
span#textcolor174{color:#000000}
tr#TBL-417-8- td{border-bottom:0.06096em solid}
 #TBL-417-9-3{ background-color:#FF0000}
span#textcolor175{color:#FFFFFF}
tr#TBL-417-9- td{border-bottom:0.06096em solid}
 #TBL-417-10-3{ background-color:#FF0000}
span#textcolor176{color:#FFFFFF}
tr#TBL-417-10- td{border-bottom:0.1829em solid} 
tr#TBL-421-1- td{border-top:0.1829em solid} 
tr#TBL-421-1- td{border-bottom:0.1829em solid} 
tr#TBL-421-2- td{border-bottom:0.1829em solid} 
tr#TBL-425-1- td{border-top:0.1829em solid} 
tr#TBL-425-1- td{border-bottom:0.1829em solid} 
tr#TBL-425-2- td{border-bottom:0.1829em solid} 
tr#TBL-429-1- td{border-top:0.1829em solid} 
tr#TBL-429-1- td{border-bottom:0.1829em solid} 
tr#TBL-429-2- td{border-bottom:0.1829em solid} 
tr#TBL-433-1- td{border-top:0.1829em solid} 
tr#TBL-433-1- td{border-bottom:0.1829em solid} 
tr#TBL-433-2- td{border-bottom:0.1829em solid} 
tr#TBL-437-1- td{border-top:0.1829em solid} 
tr#TBL-437-1- td{border-bottom:0.1829em solid} 
tr#TBL-437-2- td{border-bottom:0.1829em solid} 
tr#TBL-441-1- td{border-top:0.1829em solid} 
tr#TBL-441-1- td{border-bottom:0.1829em solid} 
tr#TBL-441-2- td{border-bottom:0.1829em solid} 
tr#TBL-445-1- td{border-top:0.1829em solid} 
tr#TBL-445-1- td{border-bottom:0.1829em solid} 
tr#TBL-445-2- td{border-bottom:0.06096em solid}
tr#TBL-445-3- td{border-bottom:0.06096em solid}
tr#TBL-445-4- td{border-bottom:0.06096em solid}
tr#TBL-445-5- td{border-bottom:0.1829em solid} 
tr#TBL-449-1- td{border-top:0.1829em solid} 
tr#TBL-449-1- td{border-bottom:0.1829em solid} 
tr#TBL-449-2- td{border-bottom:0.06096em solid}
tr#TBL-449-3- td{border-bottom:0.1829em solid} 
tr#TBL-453-1- td{border-top:0.1829em solid} 
tr#TBL-453-1- td{border-bottom:0.1829em solid} 
tr#TBL-453-2- td{border-bottom:0.06096em solid}
tr#TBL-453-3- td{border-bottom:0.06096em solid}
tr#TBL-453-4- td{border-bottom:0.06096em solid}
tr#TBL-453-5- td{border-bottom:0.06096em solid}
tr#TBL-453-6- td{border-bottom:0.1829em solid} 
tr#TBL-457-1- td{border-top:0.1829em solid} 
tr#TBL-457-1- td{border-bottom:0.1829em solid} 
tr#TBL-457-2- td{border-bottom:0.1829em solid} 
tr#TBL-461-1- td{border-top:0.1829em solid} 
tr#TBL-461-1- td{border-bottom:0.1829em solid} 
tr#TBL-461-2- td{border-bottom:0.06096em solid}
tr#TBL-461-3- td{border-bottom:0.06096em solid}
tr#TBL-461-4- td{border-bottom:0.1829em solid} 
tr#TBL-465-1- td{border-top:0.1829em solid} 
tr#TBL-465-1- td{border-bottom:0.1829em solid} 
tr#TBL-465-2- td{border-bottom:0.1829em solid} 
tr#TBL-469-1- td{border-top:0.1829em solid} 
tr#TBL-469-1- td{border-bottom:0.1829em solid} 
tr#TBL-469-2- td{border-bottom:0.06096em solid}
tr#TBL-469-3- td{border-bottom:0.06096em solid}
tr#TBL-469-4- td{border-bottom:0.06096em solid}
tr#TBL-469-5- td{border-bottom:0.1829em solid} 
tr#TBL-473-1- td{border-top:0.1829em solid} 
tr#TBL-473-1- td{border-bottom:0.1829em solid} 
tr#TBL-473-2- td{border-bottom:0.1829em solid} 
tr#TBL-477-1- td{border-top:0.1829em solid} 
tr#TBL-477-1- td{border-bottom:0.1829em solid} 
tr#TBL-477-2- td{border-bottom:0.06096em solid}
tr#TBL-477-3- td{border-bottom:0.06096em solid}
tr#TBL-477-4- td{border-bottom:0.06096em solid}
tr#TBL-477-5- td{border-bottom:0.1829em solid} 
tr#TBL-481-1- td{border-top:0.1829em solid} 
tr#TBL-481-1- td{border-bottom:0.1829em solid} 
tr#TBL-481-2- td{border-bottom:0.1829em solid} 
tr#TBL-485-1- td{border-top:0.1829em solid} 
tr#TBL-485-1- td{border-bottom:0.1829em solid} 
tr#TBL-485-2- td{border-bottom:0.06096em solid}
tr#TBL-485-3- td{border-bottom:0.1829em solid} 
tr#TBL-489-1- td{border-top:0.1829em solid} 
tr#TBL-489-1- td{border-bottom:0.1829em solid} 
tr#TBL-489-2- td{border-bottom:0.1829em solid} 
tr#TBL-493-1- td{border-top:0.1829em solid} 
tr#TBL-493-1- td{border-bottom:0.1829em solid} 
tr#TBL-493-2- td{border-bottom:0.1829em solid} 
tr#TBL-497-1- td{border-top:0.1829em solid} 
tr#TBL-497-1- td{border-bottom:0.1829em solid} 
tr#TBL-497-2- td{border-bottom:0.06096em solid}
tr#TBL-497-3- td{border-bottom:0.1829em solid} 
tr#TBL-501-1- td{border-top:0.1829em solid} 
tr#TBL-501-1- td{border-bottom:0.1829em solid} 
tr#TBL-501-2- td{border-bottom:0.1829em solid} 
tr#TBL-505-1- td{border-top:0.1829em solid} 
tr#TBL-505-1- td{border-bottom:0.1829em solid} 
tr#TBL-505-2- td{border-bottom:0.06096em solid}
tr#TBL-505-3- td{border-bottom:0.1829em solid} 
tr#TBL-509-1- td{border-top:0.1829em solid} 
tr#TBL-509-1- td{border-bottom:0.1829em solid} 
tr#TBL-509-3- td{border-bottom:0.1829em solid} 
tr#TBL-513-1- td{border-top:0.1829em solid} 
tr#TBL-513-1- td{border-bottom:0.1829em solid} 
 #TBL-513-2-3{ background-color:#808080}
span#textcolor228{color:#FFFFFF}
tr#TBL-513-2- td{border-bottom:0.06096em solid}
 #TBL-513-3-3{ background-color:#C000A0}
span#textcolor229{color:#FFFFFF}
tr#TBL-513-3- td{border-bottom:0.06096em solid}
 #TBL-513-4-3{ background-color:#C000A0}
span#textcolor230{color:#FFFFFF}
tr#TBL-513-4- td{border-bottom:0.06096em solid}
 #TBL-513-5-3{ background-color:#C000A0}
span#textcolor231{color:#FFFFFF}
tr#TBL-513-5- td{border-bottom:0.06096em solid}
 #TBL-513-6-3{ background-color:#C000A0}
span#textcolor232{color:#FFFFFF}
tr#TBL-513-6- td{border-bottom:0.06096em solid}
 #TBL-513-7-3{ background-color:#808080}
span#textcolor233{color:#FFFFFF}
tr#TBL-513-7- td{border-bottom:0.06096em solid}
 #TBL-513-8-3{ background-color:#C000A0}
span#textcolor234{color:#FFFFFF}
tr#TBL-513-8- td{border-bottom:0.06096em solid}
 #TBL-513-9-3{ background-color:#C000A0}
span#textcolor235{color:#FFFFFF}
tr#TBL-513-9- td{border-bottom:0.06096em solid}
 #TBL-513-10-3{ background-color:#FFFF00}
span#textcolor236{color:#000000}
tr#TBL-513-10- td{border-bottom:0.06096em solid}
 #TBL-513-11-3{ background-color:#00FF00}
span#textcolor237{color:#000000}
tr#TBL-513-11- td{border-bottom:0.06096em solid}
 #TBL-513-12-3{ background-color:#FF0000}
span#textcolor238{color:#FFFFFF}
tr#TBL-513-12- td{border-bottom:0.06096em solid}
 #TBL-513-13-3{ background-color:#808080}
span#textcolor239{color:#FFFFFF}
tr#TBL-513-13- td{border-bottom:0.06096em solid}
 #TBL-513-14-3{ background-color:#808080}
span#textcolor240{color:#FFFFFF}
tr#TBL-513-14- td{border-bottom:0.06096em solid}
 #TBL-513-15-3{ background-color:#808080}
span#textcolor241{color:#FFFFFF}
tr#TBL-513-15- td{border-bottom:0.06096em solid}
 #TBL-513-16-3{ background-color:#C000A0}
span#textcolor242{color:#FFFFFF}
tr#TBL-513-16- td{border-bottom:0.06096em solid}
 #TBL-513-17-3{ background-color:#C000A0}
span#textcolor243{color:#FFFFFF}
tr#TBL-513-17- td{border-bottom:0.06096em solid}
 #TBL-513-18-3{ background-color:#336699}
span#textcolor244{color:#FFFFFF}
tr#TBL-513-18- td{border-bottom:0.06096em solid}
tr#TBL-513-18- td{border-bottom:0.1829em solid} 
tr#TBL-517-1- td{border-top:0.1829em solid} 
tr#TBL-517-1- td{border-bottom:0.1829em solid} 
tr#TBL-517-2- td{border-bottom:0.1829em solid} 
tr#TBL-521-1- td{border-top:0.1829em solid} 
tr#TBL-521-1- td{border-bottom:0.1829em solid} 
tr#TBL-521-2- td{border-bottom:0.06096em solid}
tr#TBL-521-3- td{border-bottom:0.06096em solid}
tr#TBL-521-4- td{border-bottom:0.1829em solid} 
tr#TBL-525-1- td{border-top:0.1829em solid} 
tr#TBL-525-1- td{border-bottom:0.1829em solid} 
tr#TBL-525-2- td{border-bottom:0.1829em solid} 
tr#TBL-529-1- td{border-top:0.1829em solid} 
tr#TBL-529-1- td{border-bottom:0.1829em solid} 
tr#TBL-529-2- td{border-bottom:0.1829em solid} 
tr#TBL-533-1- td{border-top:0.1829em solid} 
tr#TBL-533-1- td{border-bottom:0.1829em solid} 
tr#TBL-533-2- td{border-bottom:0.1829em solid} 
tr#TBL-537-1- td{border-top:0.1829em solid} 
tr#TBL-537-1- td{border-bottom:0.1829em solid} 
tr#TBL-537-2- td{border-bottom:0.1829em solid} 
tr#TBL-541-1- td{border-top:0.1829em solid} 
tr#TBL-541-1- td{border-bottom:0.1829em solid} 
tr#TBL-541-2- td{border-bottom:0.1829em solid} 
tr#TBL-545-1- td{border-top:0.1829em solid} 
tr#TBL-545-1- td{border-bottom:0.1829em solid} 
tr#TBL-545-2- td{border-bottom:0.06096em solid}
tr#TBL-545-3- td{border-bottom:0.1829em solid} 
/* end css.sty */

