 
/* start css.sty */
.ecrm-1728{font-size:154%;}
.ecrm-1200{font-size:109%;}
.t1-zi4r-0-x-x-109{}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecrm-1000{font-size:90%;}
.ecrm-0900{font-size:81%;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.t1-zi4r-0-{font-size:90%;}
.ts1-zi4r-{font-size:90%;}
.t1-zi4b-0-{font-size:90%;}
.ecti-0900{font-size:81%; font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
.ecti-0900{ font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, likepartHead { font-size: 2em; }
.chapterHead, likechapterHead { font-size: 1.7411em; }
.sectionHead, likesectionHead { font-size: 1.5157em; }
.subsectionHead, likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="ngscopeclient-manual"]{filter: invert(1); } } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2ex; font-style:italic; font-size:85%;}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
div.array {text-align:center;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.rotatebox{display: inline-block;}
dt.enumerate{float:left; clear:left; margin-right:0.2em; margin-left:2em;}
dt.compactenum{float:left; clear:left; margin-right:0.2em; margin-left:2em;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; }
.lstinputlisting .label{margin-right:0.5em;}
tr#TBL-5-1- {border-top:0.1829em solid #000;} 
tr#TBL-5-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-5-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-9-1- {border-top:0.1829em solid #000;} 
tr#TBL-9-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-9-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-13-1- {border-top:0.1829em solid #000;} 
tr#TBL-13-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-13-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-17-1- {border-top:0.1829em solid #000;} 
tr#TBL-17-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-17-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-21-1- {border-top:0.1829em solid #000;} 
tr#TBL-21-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-21-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-25-1- {border-top:0.1829em solid #000;} 
tr#TBL-25-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-25-2- {border-bottom:0.06096em solid #000}
tr#TBL-25-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-29-1- {border-top:0.1829em solid #000;} 
tr#TBL-29-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-29-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-33-1- {border-top:0.1829em solid #000;} 
tr#TBL-33-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-33-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-37-1- {border-top:0.1829em solid #000;} 
tr#TBL-37-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-37-2- {border-bottom:0.06096em solid #000}
tr#TBL-37-3- {border-bottom:0.06096em solid #000}
tr#TBL-37-4- {border-bottom:0.06096em solid #000}
tr#TBL-37-5- {border-bottom:0.06096em solid #000}
tr#TBL-37-6- {border-bottom:0.06096em solid #000}
tr#TBL-37-7- {border-bottom:0.06096em solid #000}
tr#TBL-37-8- {border-bottom:0.1829em solid #000;} 
tr#TBL-41-1- {border-top:0.1829em solid #000;} 
tr#TBL-41-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-41-2- {border-bottom:0.06096em solid #000}
tr#TBL-41-3- {border-bottom:0.06096em solid #000}
tr#TBL-41-4- {border-bottom:0.06096em solid #000}
tr#TBL-41-5- {border-bottom:0.06096em solid #000}
tr#TBL-41-6- {border-bottom:0.06096em solid #000}
tr#TBL-41-7- {border-bottom:0.06096em solid #000}
tr#TBL-41-8- {border-bottom:0.06096em solid #000}
tr#TBL-41-9- {border-bottom:0.06096em solid #000}
tr#TBL-41-10- {border-bottom:0.06096em solid #000}
tr#TBL-41-11- {border-bottom:0.06096em solid #000}
tr#TBL-41-12- {border-bottom:0.06096em solid #000}
tr#TBL-41-13- {border-bottom:0.06096em solid #000}
tr#TBL-41-14- {border-bottom:0.06096em solid #000}
tr#TBL-41-15- {border-bottom:0.06096em solid #000}
tr#TBL-41-16- {border-bottom:0.06096em solid #000}
tr#TBL-41-17- {border-bottom:0.06096em solid #000}
tr#TBL-41-18- {border-bottom:0.06096em solid #000}
tr#TBL-41-19- {border-bottom:0.06096em solid #000}
tr#TBL-41-20- {border-bottom:0.1829em solid #000;} 
tr#TBL-45-1- {border-top:0.1829em solid #000;} 
tr#TBL-45-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-45-2- {border-bottom:0.06096em solid #000}
tr#TBL-45-3- {border-bottom:0.06096em solid #000}
tr#TBL-45-4- {border-bottom:0.06096em solid #000}
tr#TBL-45-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-49-1- {border-top:0.1829em solid #000;} 
tr#TBL-49-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-49-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-49-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-53-1- {border-top:0.1829em solid #000;} 
tr#TBL-53-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-53-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-57-1- {border-top:0.1829em solid #000;} 
tr#TBL-57-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-57-2- {border-bottom:0.06096em solid #000}
tr#TBL-57-3- {border-bottom:0.06096em solid #000}
tr#TBL-57-4- {border-bottom:0.06096em solid #000}
tr#TBL-57-5- {border-bottom:0.06096em solid #000}
tr#TBL-57-6- {border-bottom:0.1829em solid #000;} 
tr#TBL-61-1- {border-top:0.1829em solid #000;} 
tr#TBL-61-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-61-2- {border-bottom:0.06096em solid #000}
tr#TBL-61-3- {border-bottom:0.06096em solid #000}
tr#TBL-61-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-65-1- {border-top:0.1829em solid #000;} 
tr#TBL-65-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-65-2- {border-bottom:0.06096em solid #000}
tr#TBL-65-3- {border-bottom:0.06096em solid #000}
tr#TBL-65-4- {border-bottom:0.06096em solid #000}
tr#TBL-65-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-69-1- {border-top:0.1829em solid #000;} 
tr#TBL-69-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-69-2- {border-bottom:0.06096em solid #000}
tr#TBL-69-3- {border-bottom:0.06096em solid #000}
tr#TBL-69-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-73-1- {border-top:0.1829em solid #000;} 
tr#TBL-73-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-73-2- {border-bottom:0.06096em solid #000}
tr#TBL-73-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-77-1- {border-top:0.1829em solid #000;} 
tr#TBL-77-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-77-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-81-1- {border-top:0.1829em solid #000;} 
tr#TBL-81-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-81-2- {border-bottom:0.06096em solid #000}
tr#TBL-81-3- {border-bottom:0.06096em solid #000}
tr#TBL-81-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-85-1- {border-top:0.1829em solid #000;} 
tr#TBL-85-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-85-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-89-1- {border-top:0.1829em solid #000;} 
tr#TBL-89-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-89-2- {border-bottom:0.06096em solid #000}
tr#TBL-89-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-93-1- {border-top:0.1829em solid #000;} 
tr#TBL-93-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-93-2- {border-bottom:0.06096em solid #000}
tr#TBL-93-3- {border-bottom:0.06096em solid #000}
tr#TBL-93-4- {border-bottom:0.06096em solid #000}
tr#TBL-93-5- {border-bottom:0.06096em solid #000}
tr#TBL-93-6- {border-bottom:0.1829em solid #000;} 
tr#TBL-97-1- {border-top:0.1829em solid #000;} 
tr#TBL-97-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-97-2- {border-bottom:0.06096em solid #000}
tr#TBL-97-3- {border-bottom:0.06096em solid #000}
tr#TBL-97-4- {border-bottom:0.06096em solid #000}
tr#TBL-97-5- {border-bottom:0.06096em solid #000}
tr#TBL-97-6- {border-bottom:0.06096em solid #000}
tr#TBL-97-7- {border-bottom:0.06096em solid #000}
tr#TBL-97-8- {border-bottom:0.1829em solid #000;} 
tr#TBL-101-1- {border-top:0.1829em solid #000;} 
tr#TBL-101-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-101-2- {border-bottom:0.06096em solid #000}
tr#TBL-101-3- {border-bottom:0.06096em solid #000}
tr#TBL-101-4- {border-bottom:0.06096em solid #000}
tr#TBL-101-5- {border-bottom:0.06096em solid #000}
tr#TBL-101-6- {border-bottom:0.06096em solid #000}
tr#TBL-101-7- {border-bottom:0.06096em solid #000}
tr#TBL-101-8- {border-bottom:0.1829em solid #000;} 
tr#TBL-105-1- {border-top:0.1829em solid #000;} 
tr#TBL-105-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-105-2- {border-bottom:0.06096em solid #000}
tr#TBL-105-3- {border-bottom:0.06096em solid #000}
tr#TBL-105-4- {border-bottom:0.06096em solid #000}
tr#TBL-105-5- {border-bottom:0.06096em solid #000}
tr#TBL-105-6- {border-bottom:0.06096em solid #000}
tr#TBL-105-7- {border-bottom:0.06096em solid #000}
tr#TBL-105-8- {border-bottom:0.06096em solid #000}
tr#TBL-105-9- {border-bottom:0.06096em solid #000}
tr#TBL-105-10- {border-bottom:0.06096em solid #000}
tr#TBL-105-11- {border-bottom:0.06096em solid #000}
tr#TBL-105-12- {border-bottom:0.06096em solid #000}
tr#TBL-105-13- {border-bottom:0.1829em solid #000;} 
tr#TBL-109-1- {border-top:0.1829em solid #000;} 
tr#TBL-109-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-109-2- {border-bottom:0.06096em solid #000}
tr#TBL-109-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-109-4- {border-bottom:0.06096em solid #000}
tr#TBL-109-5- {border-bottom:0.06096em solid #000}
tr#TBL-109-6- {border-bottom:0.06096em solid #000}
tr#TBL-109-7- {border-bottom:0.06096em solid #000}
tr#TBL-109-8- {border-bottom:0.06096em solid #000}
tr#TBL-109-9- {border-bottom:0.06096em solid #000}
tr#TBL-109-10- {border-bottom:0.06096em solid #000}
tr#TBL-109-11- {border-bottom:0.1829em solid #000;} 
tr#TBL-113-1- {border-top:0.1829em solid #000;} 
tr#TBL-113-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-113-2- {border-bottom:0.06096em solid #000}
tr#TBL-113-3- {border-bottom:0.06096em solid #000}
tr#TBL-113-4- {border-bottom:0.06096em solid #000}
tr#TBL-113-5- {border-bottom:0.06096em solid #000}
tr#TBL-113-6- {border-bottom:0.06096em solid #000}
tr#TBL-113-7- {border-bottom:0.1829em solid #000;} 
tr#TBL-117-1- {border-top:0.1829em solid #000;} 
tr#TBL-117-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-117-2- {border-bottom:0.06096em solid #000}
tr#TBL-117-3- {border-bottom:0.06096em solid #000}
tr#TBL-117-4- {border-bottom:0.06096em solid #000}
tr#TBL-117-5- {border-bottom:0.06096em solid #000}
tr#TBL-117-6- {border-bottom:0.06096em solid #000}
tr#TBL-117-7- {border-bottom:0.06096em solid #000}
tr#TBL-117-8- {border-bottom:0.1829em solid #000;} 
tr#TBL-121-1- {border-top:0.1829em solid #000;} 
tr#TBL-121-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-121-2- {border-bottom:0.06096em solid #000}
tr#TBL-121-3- {border-bottom:0.06096em solid #000}
tr#TBL-121-4- {border-bottom:0.06096em solid #000}
tr#TBL-121-5- {border-bottom:0.06096em solid #000}
tr#TBL-121-6- {border-bottom:0.06096em solid #000}
tr#TBL-121-7- {border-bottom:0.06096em solid #000}
tr#TBL-121-8- {border-bottom:0.06096em solid #000}
tr#TBL-121-9- {border-bottom:0.06096em solid #000}
tr#TBL-121-10- {border-bottom:0.06096em solid #000}
tr#TBL-121-11- {border-bottom:0.06096em solid #000}
tr#TBL-121-12- {border-bottom:0.1829em solid #000;} 
tr#TBL-125-1- {border-top:0.1829em solid #000;} 
tr#TBL-125-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-125-2- {border-bottom:0.06096em solid #000}
tr#TBL-125-3- {border-bottom:0.06096em solid #000}
tr#TBL-125-4- {border-bottom:0.06096em solid #000}
tr#TBL-125-5- {border-bottom:0.06096em solid #000}
tr#TBL-125-6- {border-bottom:0.06096em solid #000}
tr#TBL-125-7- {border-bottom:0.06096em solid #000}
tr#TBL-125-8- {border-bottom:0.06096em solid #000}
tr#TBL-125-9- {border-bottom:0.06096em solid #000}
tr#TBL-125-10- {border-bottom:0.06096em solid #000}
tr#TBL-125-11- {border-bottom:0.1829em solid #000;} 
tr#TBL-129-1- {border-top:0.1829em solid #000;} 
tr#TBL-129-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-129-2- {border-bottom:0.06096em solid #000}
tr#TBL-129-3- {border-bottom:0.06096em solid #000}
tr#TBL-129-4- {border-bottom:0.06096em solid #000}
tr#TBL-129-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-133-1- {border-top:0.1829em solid #000;} 
tr#TBL-133-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-133-2- {border-bottom:0.06096em solid #000}
tr#TBL-133-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-137-1- {border-top:0.1829em solid #000;} 
tr#TBL-137-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-137-2- {border-bottom:0.06096em solid #000}
tr#TBL-137-3- {border-bottom:0.06096em solid #000}
tr#TBL-137-4- {border-bottom:0.06096em solid #000}
tr#TBL-137-5- {border-bottom:0.06096em solid #000}
tr#TBL-137-6- {border-bottom:0.1829em solid #000;} 
tr#TBL-141-1- {border-top:0.1829em solid #000;} 
tr#TBL-141-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-141-2- {border-bottom:0.06096em solid #000}
tr#TBL-141-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-145-1- {border-top:0.1829em solid #000;} 
tr#TBL-145-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-145-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-149-1- {border-top:0.1829em solid #000;} 
tr#TBL-149-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-149-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-153-1- {border-top:0.1829em solid #000;} 
tr#TBL-153-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-153-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-157-1- {border-top:0.1829em solid #000;} 
tr#TBL-157-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-157-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-161-1- {border-top:0.1829em solid #000;} 
tr#TBL-161-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-161-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-165-1- {border-top:0.1829em solid #000;} 
tr#TBL-165-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-165-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-169-1- {border-top:0.1829em solid #000;} 
tr#TBL-169-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-169-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-173-1- {border-top:0.1829em solid #000;} 
tr#TBL-173-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-173-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-177-1- {border-top:0.1829em solid #000;} 
tr#TBL-177-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-177-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-181-1- {border-top:0.1829em solid #000;} 
tr#TBL-181-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-181-2- {border-bottom:0.06096em solid #000}
tr#TBL-181-3- {border-bottom:0.06096em solid #000}
tr#TBL-181-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-185-1- {border-top:0.1829em solid #000;} 
tr#TBL-185-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-185-2- {border-bottom:0.06096em solid #000}
tr#TBL-185-3- {border-bottom:0.06096em solid #000}
tr#TBL-185-4- {border-bottom:0.06096em solid #000}
tr#TBL-185-5- {border-bottom:0.06096em solid #000}
tr#TBL-185-6- {border-bottom:0.06096em solid #000}
tr#TBL-185-7- {border-bottom:0.06096em solid #000}
tr#TBL-185-8- {border-bottom:0.06096em solid #000}
tr#TBL-185-9- {border-bottom:0.1829em solid #000;} 
tr#TBL-189-1- {border-top:0.1829em solid #000;} 
tr#TBL-189-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-189-2- {border-bottom:0.06096em solid #000}
tr#TBL-189-3- {border-bottom:0.06096em solid #000}
tr#TBL-189-4- {border-bottom:0.06096em solid #000}
tr#TBL-189-5- {border-bottom:0.06096em solid #000}
tr#TBL-189-6- {border-bottom:0.06096em solid #000}
tr#TBL-189-7- {border-bottom:0.06096em solid #000}
tr#TBL-189-8- {border-bottom:0.1829em solid #000;} 
tr#TBL-193-1- {border-top:0.1829em solid #000;} 
tr#TBL-193-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-193-2- {border-bottom:0.06096em solid #000}
tr#TBL-193-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-197-1- {border-top:0.1829em solid #000;} 
tr#TBL-197-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-201-1- {border-top:0.1829em solid #000;} 
tr#TBL-201-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-201-2- {border-bottom:0.06096em solid #000}
tr#TBL-201-3- {border-bottom:0.06096em solid #000}
tr#TBL-201-4- {border-bottom:0.06096em solid #000}
tr#TBL-201-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-205-1- {border-top:0.1829em solid #000;} 
tr#TBL-205-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-209-1- {border-top:0.1829em solid #000;} 
tr#TBL-209-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-209-2- {border-bottom:0.06096em solid #000}
tr#TBL-209-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-213-1- {border-top:0.1829em solid #000;} 
tr#TBL-213-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-213-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-217-1- {border-top:0.1829em solid #000;} 
tr#TBL-217-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-217-2- {border-bottom:0.06096em solid #000}
tr#TBL-217-3- {border-bottom:0.06096em solid #000}
tr#TBL-217-4- {border-bottom:0.06096em solid #000}
tr#TBL-217-5- {border-bottom:0.06096em solid #000}
tr#TBL-217-6- {border-bottom:0.1829em solid #000;} 
tr#TBL-221-1- {border-top:0.1829em solid #000;} 
tr#TBL-221-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-221-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-225-1- {border-top:0.1829em solid #000;} 
tr#TBL-225-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-225-2- {border-bottom:0.06096em solid #000}
tr#TBL-225-3- {border-bottom:0.06096em solid #000}
tr#TBL-225-4- {border-bottom:0.06096em solid #000}
tr#TBL-225-5- {border-bottom:0.06096em solid #000}
tr#TBL-225-6- {border-bottom:0.06096em solid #000}
tr#TBL-225-7- {border-bottom:0.1829em solid #000;} 
tr#TBL-229-1- {border-top:0.1829em solid #000;} 
tr#TBL-229-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-229-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-233-1- {border-top:0.1829em solid #000;} 
tr#TBL-233-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-233-2- {border-bottom:0.06096em solid #000}
tr#TBL-233-3- {border-bottom:0.06096em solid #000}
tr#TBL-233-4- {border-bottom:0.06096em solid #000}
tr#TBL-233-5- {border-bottom:0.06096em solid #000}
tr#TBL-233-6- {border-bottom:0.06096em solid #000}
tr#TBL-233-7- {border-bottom:0.1829em solid #000;} 
tr#TBL-237-1- {border-top:0.1829em solid #000;} 
tr#TBL-237-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-237-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-241-1- {border-top:0.1829em solid #000;} 
tr#TBL-241-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-241-2- {border-bottom:0.06096em solid #000}
tr#TBL-241-3- {border-bottom:0.06096em solid #000}
tr#TBL-241-4- {border-bottom:0.06096em solid #000}
tr#TBL-241-5- {border-bottom:0.06096em solid #000}
tr#TBL-241-6- {border-bottom:0.06096em solid #000}
tr#TBL-241-7- {border-bottom:0.06096em solid #000}
tr#TBL-241-8- {border-bottom:0.06096em solid #000}
tr#TBL-241-9- {border-bottom:0.06096em solid #000}
tr#TBL-241-10- {border-bottom:0.06096em solid #000}
tr#TBL-241-11- {border-bottom:0.1829em solid #000;} 
tr#TBL-245-1- {border-top:0.1829em solid #000;} 
tr#TBL-245-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-245-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-249-1- {border-top:0.1829em solid #000;} 
tr#TBL-249-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-249-2- {border-bottom:0.06096em solid #000}
tr#TBL-249-3- {border-bottom:0.06096em solid #000}
tr#TBL-249-4- {border-bottom:0.06096em solid #000}
tr#TBL-249-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-253-1- {border-top:0.1829em solid #000;} 
tr#TBL-253-1- {border-bottom:0.1829em solid #000;} 
 #TBL-253-2-3{ background-color:#FFFF00}
span#textcolor25{color:#000000}
tr#TBL-253-2- {border-bottom:0.06096em solid #000}
 #TBL-253-3-3{ background-color:#FF0000}
span#textcolor26{color:#FFFFFF}
tr#TBL-253-3- {border-bottom:0.06096em solid #000}
 #TBL-253-4-3{ background-color:#00FF00}
span#textcolor27{color:#000000}
tr#TBL-253-4- {border-bottom:0.06096em solid #000}
 #TBL-253-5-3{ background-color:#C000A0}
span#textcolor28{color:#FFFFFF}
tr#TBL-253-5- {border-bottom:0.06096em solid #000}
 #TBL-253-6-3{ background-color:#336699}
span#textcolor29{color:#FFFFFF}
tr#TBL-253-6- {border-bottom:0.06096em solid #000}
 #TBL-253-7-3{ background-color:#FF0000}
span#textcolor30{color:#FFFFFF}
tr#TBL-253-7- {border-bottom:0.06096em solid #000}
 #TBL-253-8-3{ background-color:#404040}
span#textcolor31{color:#FFFFFF}
tr#TBL-253-8- {border-bottom:0.06096em solid #000}
 #TBL-253-9-3{ background-color:#808080}
span#textcolor32{color:#FFFFFF}
tr#TBL-253-9- {border-bottom:0.1829em solid #000;} 
tr#TBL-257-1- {border-top:0.1829em solid #000;} 
tr#TBL-257-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-257-2- {border-bottom:0.06096em solid #000}
tr#TBL-257-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-261-1- {border-top:0.1829em solid #000;} 
tr#TBL-261-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-261-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-265-1- {border-top:0.1829em solid #000;} 
tr#TBL-265-1- {border-bottom:0.1829em solid #000;} 
 #TBL-265-2-3{ background-color:#C000A0}
span#textcolor42{color:#FFFFFF}
tr#TBL-265-2- {border-bottom:0.06096em solid #000}
 #TBL-265-3-3{ background-color:#336699}
span#textcolor43{color:#FFFFFF}
tr#TBL-265-3- {border-bottom:0.06096em solid #000}
 #TBL-265-4-3{ background-color:#FF0000}
span#textcolor44{color:#FFFFFF}
tr#TBL-265-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-269-1- {border-top:0.1829em solid #000;} 
tr#TBL-269-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-269-2- {border-bottom:0.06096em solid #000}
tr#TBL-269-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-273-1- {border-top:0.1829em solid #000;} 
tr#TBL-273-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-273-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-277-1- {border-top:0.1829em solid #000;} 
tr#TBL-277-1- {border-bottom:0.1829em solid #000;} 
 #TBL-277-2-3{ background-color:#C000A0}
span#textcolor54{color:#FFFFFF}
tr#TBL-277-2- {border-bottom:0.06096em solid #000}
 #TBL-277-3-3{ background-color:#336699}
span#textcolor55{color:#FFFFFF}
tr#TBL-277-3- {border-bottom:0.06096em solid #000}
 #TBL-277-4-3{ background-color:#FF0000}
span#textcolor56{color:#FFFFFF}
tr#TBL-277-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-281-1- {border-top:0.1829em solid #000;} 
tr#TBL-281-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-281-2- {border-bottom:0.06096em solid #000}
tr#TBL-281-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-285-1- {border-top:0.1829em solid #000;} 
tr#TBL-285-1- {border-bottom:0.06096em solid #000}
tr#TBL-285-2- {border-bottom:0.06096em solid #000}
tr#TBL-285-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-289-1- {border-top:0.1829em solid #000;} 
tr#TBL-289-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-289-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-293-1- {border-top:0.1829em solid #000;} 
tr#TBL-293-1- {border-bottom:0.1829em solid #000;} 
 #TBL-293-2-3{ background-color:#C000A0}
span#textcolor66{color:#FFFFFF}
tr#TBL-293-2- {border-bottom:0.06096em solid #000}
 #TBL-293-3-3{ background-color:#336699}
span#textcolor67{color:#FFFFFF}
tr#TBL-293-3- {border-bottom:0.06096em solid #000}
 #TBL-293-4-3{ background-color:#FF0000}
span#textcolor68{color:#FFFFFF}
tr#TBL-293-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-297-1- {border-top:0.1829em solid #000;} 
tr#TBL-297-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-297-2- {border-bottom:0.06096em solid #000}
tr#TBL-297-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-301-1- {border-top:0.1829em solid #000;} 
tr#TBL-301-1- {border-bottom:0.06096em solid #000}
tr#TBL-301-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-305-1- {border-top:0.1829em solid #000;} 
tr#TBL-305-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-305-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-309-1- {border-top:0.1829em solid #000;} 
tr#TBL-309-1- {border-bottom:0.1829em solid #000;} 
 #TBL-309-2-3{ background-color:#C000A0}
span#textcolor81{color:#FFFFFF}
tr#TBL-309-2- {border-bottom:0.06096em solid #000}
 #TBL-309-3-3{ background-color:#336699}
span#textcolor82{color:#FFFFFF}
tr#TBL-309-3- {border-bottom:0.06096em solid #000}
 #TBL-309-4-3{ background-color:#FF0000}
span#textcolor83{color:#FFFFFF}
tr#TBL-309-4- {border-bottom:0.06096em solid #000}
 #TBL-309-5-3{ background-color:#808080}
span#textcolor84{color:#FFFFFF}
tr#TBL-309-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-313-1- {border-top:0.1829em solid #000;} 
tr#TBL-313-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-313-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-317-1- {border-top:0.1829em solid #000;} 
tr#TBL-317-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-317-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-321-1- {border-top:0.1829em solid #000;} 
tr#TBL-321-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-321-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-325-1- {border-top:0.1829em solid #000;} 
tr#TBL-325-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-325-2- {border-bottom:0.06096em solid #000}
tr#TBL-325-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-329-1- {border-top:0.1829em solid #000;} 
tr#TBL-329-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-329-2- {border-bottom:0.06096em solid #000}
tr#TBL-329-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-333-1- {border-top:0.1829em solid #000;} 
tr#TBL-333-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-333-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-337-1- {border-top:0.1829em solid #000;} 
tr#TBL-337-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-337-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-341-1- {border-top:0.1829em solid #000;} 
tr#TBL-341-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-341-2- {border-bottom:0.06096em solid #000}
tr#TBL-341-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-345-1- {border-top:0.1829em solid #000;} 
tr#TBL-345-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-345-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-349-1- {border-top:0.1829em solid #000;} 
tr#TBL-349-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-349-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-353-1- {border-top:0.1829em solid #000;} 
tr#TBL-353-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-353-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-357-1- {border-top:0.1829em solid #000;} 
tr#TBL-357-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-357-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-361-1- {border-top:0.1829em solid #000;} 
tr#TBL-361-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-361-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-365-1- {border-top:0.1829em solid #000;} 
tr#TBL-365-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-365-2- {border-bottom:0.06096em solid #000}
tr#TBL-365-3- {border-bottom:0.06096em solid #000}
tr#TBL-365-4- {border-bottom:0.06096em solid #000}
tr#TBL-365-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-369-1- {border-top:0.1829em solid #000;} 
tr#TBL-369-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-369-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-373-1- {border-top:0.1829em solid #000;} 
tr#TBL-373-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-373-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-377-1- {border-top:0.1829em solid #000;} 
tr#TBL-377-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-377-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-381-1- {border-top:0.1829em solid #000;} 
tr#TBL-381-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-381-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-385-1- {border-top:0.1829em solid #000;} 
tr#TBL-385-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-385-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-389-1- {border-top:0.1829em solid #000;} 
tr#TBL-389-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-389-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-393-1- {border-top:0.1829em solid #000;} 
tr#TBL-393-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-393-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-397-1- {border-top:0.1829em solid #000;} 
tr#TBL-397-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-397-2- {border-bottom:0.06096em solid #000}
tr#TBL-397-3- {border-bottom:0.06096em solid #000}
tr#TBL-397-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-401-1- {border-top:0.1829em solid #000;} 
tr#TBL-401-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-401-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-405-1- {border-top:0.1829em solid #000;} 
tr#TBL-405-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-405-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-409-1- {border-top:0.1829em solid #000;} 
tr#TBL-409-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-409-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-413-1- {border-top:0.1829em solid #000;} 
tr#TBL-413-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-413-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-417-1- {border-top:0.1829em solid #000;} 
tr#TBL-417-1- {border-bottom:0.1829em solid #000;} 
 #TBL-417-2-3{ background-color:#808080}
span#textcolor127{color:#FFFFFF}
tr#TBL-417-2- {border-bottom:0.06096em solid #000}
 #TBL-417-3-3{ background-color:#FFFF00}
span#textcolor128{color:#000000}
tr#TBL-417-3- {border-bottom:0.06096em solid #000}
 #TBL-417-4-3{ background-color:#C000A0}
span#textcolor129{color:#FFFFFF}
tr#TBL-417-4- {border-bottom:0.06096em solid #000}
 #TBL-417-5-3{ background-color:#C000A0}
span#textcolor130{color:#FFFFFF}
tr#TBL-417-5- {border-bottom:0.06096em solid #000}
 #TBL-417-6-3{ background-color:#808080}
span#textcolor131{color:#FFFFFF}
tr#TBL-417-6- {border-bottom:0.06096em solid #000}
 #TBL-417-7-3{ background-color:#C000A0}
span#textcolor132{color:#FFFFFF}
tr#TBL-417-7- {border-bottom:0.06096em solid #000}
 #TBL-417-8-3{ background-color:#336699}
span#textcolor133{color:#FFFFFF}
tr#TBL-417-8- {border-bottom:0.06096em solid #000}
 #TBL-417-9-3{ background-color:#00FF00}
span#textcolor134{color:#000000}
tr#TBL-417-9- {border-bottom:0.06096em solid #000}
 #TBL-417-10-3{ background-color:#FF0000}
span#textcolor135{color:#FFFFFF}
tr#TBL-417-10- {border-bottom:0.06096em solid #000}
 #TBL-417-11-3{ background-color:#808080}
span#textcolor136{color:#FFFFFF}
tr#TBL-417-11- {border-bottom:0.06096em solid #000}
 #TBL-417-12-3{ background-color:#00FF00}
span#textcolor137{color:#000000}
tr#TBL-417-12- {border-bottom:0.06096em solid #000}
 #TBL-417-13-3{ background-color:#FF0000}
span#textcolor138{color:#FFFFFF}
tr#TBL-417-13- {border-bottom:0.06096em solid #000}
 #TBL-417-14-3{ background-color:#808080}
span#textcolor139{color:#FFFFFF}
tr#TBL-417-14- {border-bottom:0.06096em solid #000}
 #TBL-417-15-3{ background-color:#808080}
span#textcolor140{color:#FFFFFF}
tr#TBL-417-15- {border-bottom:0.1829em solid #000;} 
tr#TBL-421-1- {border-top:0.1829em solid #000;} 
tr#TBL-421-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-421-2- {border-bottom:0.06096em solid #000}
tr#TBL-421-3- {border-bottom:0.06096em solid #000}
tr#TBL-421-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-425-1- {border-top:0.1829em solid #000;} 
tr#TBL-425-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-425-2- {border-bottom:0.06096em solid #000}
tr#TBL-425-3- {border-bottom:0.06096em solid #000}
tr#TBL-425-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-429-1- {border-top:0.1829em solid #000;} 
tr#TBL-429-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-429-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-433-1- {border-top:0.1829em solid #000;} 
tr#TBL-433-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-433-2- {border-bottom:0.06096em solid #000}
tr#TBL-433-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-437-1- {border-top:0.1829em solid #000;} 
tr#TBL-437-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-437-2- {border-bottom:0.06096em solid #000}
tr#TBL-437-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-441-1- {border-top:0.1829em solid #000;} 
tr#TBL-441-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-441-2- {border-bottom:0.06096em solid #000}
tr#TBL-441-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-445-1- {border-top:0.1829em solid #000;} 
tr#TBL-445-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-445-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-449-1- {border-top:0.1829em solid #000;} 
tr#TBL-449-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-449-2- {border-bottom:0.06096em solid #000}
tr#TBL-449-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-453-1- {border-top:0.1829em solid #000;} 
tr#TBL-453-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-453-2- {border-bottom:0.06096em solid #000}
tr#TBL-453-3- {border-bottom:0.06096em solid #000}
tr#TBL-453-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-457-1- {border-top:0.1829em solid #000;} 
tr#TBL-457-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-457-2- {border-bottom:0.06096em solid #000}
tr#TBL-457-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-461-1- {border-top:0.1829em solid #000;} 
tr#TBL-461-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-461-2- {border-bottom:0.06096em solid #000}
tr#TBL-461-3- {border-bottom:0.06096em solid #000}
tr#TBL-461-4- {border-bottom:0.06096em solid #000}
tr#TBL-461-5- {border-bottom:0.06096em solid #000}
tr#TBL-461-6- {border-bottom:0.06096em solid #000}
tr#TBL-461-7- {border-bottom:0.06096em solid #000}
tr#TBL-461-8- {border-bottom:0.06096em solid #000}
tr#TBL-461-9- {border-bottom:0.06096em solid #000}
tr#TBL-461-10- {border-bottom:0.06096em solid #000}
tr#TBL-461-11- {border-bottom:0.1829em solid #000;} 
tr#TBL-465-1- {border-top:0.1829em solid #000;} 
tr#TBL-465-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-465-2- {border-bottom:0.06096em solid #000}
tr#TBL-465-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-469-1- {border-top:0.1829em solid #000;} 
tr#TBL-469-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-469-2- {border-bottom:0.06096em solid #000}
tr#TBL-469-3- {border-bottom:0.06096em solid #000}
tr#TBL-469-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-473-1- {border-top:0.1829em solid #000;} 
tr#TBL-473-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-473-2- {border-bottom:0.06096em solid #000}
tr#TBL-473-3- {border-bottom:0.06096em solid #000}
tr#TBL-473-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-477-1- {border-top:0.1829em solid #000;} 
tr#TBL-477-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-477-2- {border-bottom:0.06096em solid #000}
tr#TBL-477-3- {border-bottom:0.06096em solid #000}
tr#TBL-477-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-481-1- {border-top:0.1829em solid #000;} 
tr#TBL-481-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-481-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-485-1- {border-top:0.1829em solid #000;} 
tr#TBL-485-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-485-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-489-1- {border-top:0.1829em solid #000;} 
tr#TBL-489-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-489-2- {border-bottom:0.06096em solid #000}
tr#TBL-489-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-493-1- {border-top:0.1829em solid #000;} 
tr#TBL-493-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-493-2- {border-bottom:0.06096em solid #000}
tr#TBL-493-3- {border-bottom:0.06096em solid #000}
tr#TBL-493-4- {border-bottom:0.06096em solid #000}
tr#TBL-493-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-497-1- {border-top:0.1829em solid #000;} 
tr#TBL-497-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-497-2- {border-bottom:0.06096em solid #000}
tr#TBL-497-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-501-1- {border-top:0.1829em solid #000;} 
tr#TBL-501-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-501-2- {border-bottom:0.06096em solid #000}
tr#TBL-501-3- {border-bottom:0.06096em solid #000}
tr#TBL-501-4- {border-bottom:0.06096em solid #000}
tr#TBL-501-5- {border-bottom:0.06096em solid #000}
tr#TBL-501-6- {border-bottom:0.06096em solid #000}
tr#TBL-501-7- {border-bottom:0.1829em solid #000;} 
tr#TBL-505-1- {border-top:0.1829em solid #000;} 
tr#TBL-505-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-505-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-509-1- {border-top:0.1829em solid #000;} 
tr#TBL-509-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-509-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-513-1- {border-top:0.1829em solid #000;} 
tr#TBL-513-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-513-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-517-1- {border-top:0.1829em solid #000;} 
tr#TBL-517-1- {border-bottom:0.1829em solid #000;} 
 #TBL-517-2-3{ background-color:#808080}
span#textcolor168{color:#FFFFFF}
tr#TBL-517-2- {border-bottom:0.06096em solid #000}
 #TBL-517-3-3{ background-color:#808080}
span#textcolor169{color:#FFFFFF}
tr#TBL-517-3- {border-bottom:0.06096em solid #000}
 #TBL-517-4-3{ background-color:#FFFF00}
span#textcolor170{color:#000000}
tr#TBL-517-4- {border-bottom:0.06096em solid #000}
 #TBL-517-5-3{ background-color:#C000A0}
span#textcolor171{color:#FFFFFF}
tr#TBL-517-5- {border-bottom:0.06096em solid #000}
 #TBL-517-6-3{ background-color:#C000A0}
span#textcolor172{color:#FFFFFF}
tr#TBL-517-6- {border-bottom:0.06096em solid #000}
 #TBL-517-7-3{ background-color:#336699}
span#textcolor173{color:#FFFFFF}
tr#TBL-517-7- {border-bottom:0.06096em solid #000}
 #TBL-517-8-3{ background-color:#00FF00}
span#textcolor174{color:#000000}
tr#TBL-517-8- {border-bottom:0.06096em solid #000}
 #TBL-517-9-3{ background-color:#FF0000}
span#textcolor175{color:#FFFFFF}
tr#TBL-517-9- {border-bottom:0.06096em solid #000}
 #TBL-517-10-3{ background-color:#FF0000}
span#textcolor176{color:#FFFFFF}
tr#TBL-517-10- {border-bottom:0.1829em solid #000;} 
tr#TBL-521-1- {border-top:0.1829em solid #000;} 
tr#TBL-521-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-521-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-525-1- {border-top:0.1829em solid #000;} 
tr#TBL-525-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-525-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-529-1- {border-top:0.1829em solid #000;} 
tr#TBL-529-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-529-2- {border-bottom:0.06096em solid #000}
tr#TBL-529-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-533-1- {border-top:0.1829em solid #000;} 
tr#TBL-533-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-533-2- {border-bottom:0.06096em solid #000}
tr#TBL-533-3- {border-bottom:0.06096em solid #000}
tr#TBL-533-4- {border-bottom:0.06096em solid #000}
tr#TBL-533-5- {border-bottom:0.06096em solid #000}
tr#TBL-533-6- {border-bottom:0.06096em solid #000}
tr#TBL-533-7- {border-bottom:0.06096em solid #000}
tr#TBL-533-8- {border-bottom:0.06096em solid #000}
tr#TBL-533-9- {border-bottom:0.1829em solid #000;} 
tr#TBL-537-1- {border-top:0.1829em solid #000;} 
tr#TBL-537-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-537-2- {border-bottom:0.06096em solid #000}
tr#TBL-537-3- {border-bottom:0.06096em solid #000}
tr#TBL-537-4- {border-bottom:0.06096em solid #000}
tr#TBL-537-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-541-1- {border-top:0.1829em solid #000;} 
tr#TBL-541-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-541-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-545-1- {border-top:0.1829em solid #000;} 
tr#TBL-545-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-545-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-549-1- {border-top:0.1829em solid #000;} 
tr#TBL-549-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-549-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-553-1- {border-top:0.1829em solid #000;} 
tr#TBL-553-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-553-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-557-1- {border-top:0.1829em solid #000;} 
tr#TBL-557-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-557-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-561-1- {border-top:0.1829em solid #000;} 
tr#TBL-561-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-561-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-565-1- {border-top:0.1829em solid #000;} 
tr#TBL-565-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-565-2- {border-bottom:0.06096em solid #000}
tr#TBL-565-3- {border-bottom:0.06096em solid #000}
tr#TBL-565-4- {border-bottom:0.06096em solid #000}
tr#TBL-565-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-569-1- {border-top:0.1829em solid #000;} 
tr#TBL-569-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-569-2- {border-bottom:0.06096em solid #000}
tr#TBL-569-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-573-1- {border-top:0.1829em solid #000;} 
tr#TBL-573-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-573-2- {border-bottom:0.06096em solid #000}
tr#TBL-573-3- {border-bottom:0.06096em solid #000}
tr#TBL-573-4- {border-bottom:0.06096em solid #000}
tr#TBL-573-5- {border-bottom:0.06096em solid #000}
tr#TBL-573-6- {border-bottom:0.1829em solid #000;} 
tr#TBL-577-1- {border-top:0.1829em solid #000;} 
tr#TBL-577-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-577-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-581-1- {border-top:0.1829em solid #000;} 
tr#TBL-581-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-581-2- {border-bottom:0.06096em solid #000}
tr#TBL-581-3- {border-bottom:0.06096em solid #000}
tr#TBL-581-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-585-1- {border-top:0.1829em solid #000;} 
tr#TBL-585-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-585-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-589-1- {border-top:0.1829em solid #000;} 
tr#TBL-589-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-589-2- {border-bottom:0.06096em solid #000}
tr#TBL-589-3- {border-bottom:0.06096em solid #000}
tr#TBL-589-4- {border-bottom:0.06096em solid #000}
tr#TBL-589-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-593-1- {border-top:0.1829em solid #000;} 
tr#TBL-593-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-593-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-597-1- {border-top:0.1829em solid #000;} 
tr#TBL-597-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-597-2- {border-bottom:0.06096em solid #000}
tr#TBL-597-3- {border-bottom:0.06096em solid #000}
tr#TBL-597-4- {border-bottom:0.06096em solid #000}
tr#TBL-597-5- {border-bottom:0.1829em solid #000;} 
tr#TBL-601-1- {border-top:0.1829em solid #000;} 
tr#TBL-601-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-601-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-605-1- {border-top:0.1829em solid #000;} 
tr#TBL-605-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-605-2- {border-bottom:0.06096em solid #000}
tr#TBL-605-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-609-1- {border-top:0.1829em solid #000;} 
tr#TBL-609-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-609-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-613-1- {border-top:0.1829em solid #000;} 
tr#TBL-613-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-613-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-617-1- {border-top:0.1829em solid #000;} 
tr#TBL-617-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-617-2- {border-bottom:0.06096em solid #000}
tr#TBL-617-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-621-1- {border-top:0.1829em solid #000;} 
tr#TBL-621-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-621-2- {border-bottom:0.06096em solid #000}
tr#TBL-621-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-625-1- {border-top:0.1829em solid #000;} 
tr#TBL-625-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-625-2- {border-bottom:0.06096em solid #000}
tr#TBL-625-3- {border-bottom:0.06096em solid #000}
tr#TBL-625-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-629-1- {border-top:0.1829em solid #000;} 
tr#TBL-629-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-629-2- {border-bottom:0.06096em solid #000}
tr#TBL-629-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-633-1- {border-top:0.1829em solid #000;} 
tr#TBL-633-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-633-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-637-1- {border-top:0.1829em solid #000;} 
tr#TBL-637-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-637-2- {border-bottom:0.06096em solid #000}
tr#TBL-637-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-641-1- {border-top:0.1829em solid #000;} 
tr#TBL-641-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-641-3- {border-bottom:0.1829em solid #000;} 
tr#TBL-645-1- {border-top:0.1829em solid #000;} 
tr#TBL-645-1- {border-bottom:0.1829em solid #000;} 
 #TBL-645-2-3{ background-color:#808080}
span#textcolor228{color:#FFFFFF}
tr#TBL-645-2- {border-bottom:0.06096em solid #000}
 #TBL-645-3-3{ background-color:#C000A0}
span#textcolor229{color:#FFFFFF}
tr#TBL-645-3- {border-bottom:0.06096em solid #000}
 #TBL-645-4-3{ background-color:#C000A0}
span#textcolor230{color:#FFFFFF}
tr#TBL-645-4- {border-bottom:0.06096em solid #000}
 #TBL-645-5-3{ background-color:#C000A0}
span#textcolor231{color:#FFFFFF}
tr#TBL-645-5- {border-bottom:0.06096em solid #000}
 #TBL-645-6-3{ background-color:#C000A0}
span#textcolor232{color:#FFFFFF}
tr#TBL-645-6- {border-bottom:0.06096em solid #000}
 #TBL-645-7-3{ background-color:#808080}
span#textcolor233{color:#FFFFFF}
tr#TBL-645-7- {border-bottom:0.06096em solid #000}
 #TBL-645-8-3{ background-color:#C000A0}
span#textcolor234{color:#FFFFFF}
tr#TBL-645-8- {border-bottom:0.06096em solid #000}
 #TBL-645-9-3{ background-color:#C000A0}
span#textcolor235{color:#FFFFFF}
tr#TBL-645-9- {border-bottom:0.06096em solid #000}
 #TBL-645-10-3{ background-color:#FFFF00}
span#textcolor236{color:#000000}
tr#TBL-645-10- {border-bottom:0.06096em solid #000}
 #TBL-645-11-3{ background-color:#00FF00}
span#textcolor237{color:#000000}
tr#TBL-645-11- {border-bottom:0.06096em solid #000}
 #TBL-645-12-3{ background-color:#FF0000}
span#textcolor238{color:#FFFFFF}
tr#TBL-645-12- {border-bottom:0.06096em solid #000}
 #TBL-645-13-3{ background-color:#808080}
span#textcolor239{color:#FFFFFF}
tr#TBL-645-13- {border-bottom:0.06096em solid #000}
 #TBL-645-14-3{ background-color:#808080}
span#textcolor240{color:#FFFFFF}
tr#TBL-645-14- {border-bottom:0.06096em solid #000}
 #TBL-645-15-3{ background-color:#808080}
span#textcolor241{color:#FFFFFF}
tr#TBL-645-15- {border-bottom:0.06096em solid #000}
 #TBL-645-16-3{ background-color:#C000A0}
span#textcolor242{color:#FFFFFF}
tr#TBL-645-16- {border-bottom:0.06096em solid #000}
 #TBL-645-17-3{ background-color:#C000A0}
span#textcolor243{color:#FFFFFF}
tr#TBL-645-17- {border-bottom:0.06096em solid #000}
 #TBL-645-18-3{ background-color:#336699}
span#textcolor244{color:#FFFFFF}
tr#TBL-645-18- {border-bottom:0.06096em solid #000}
tr#TBL-645-18- {border-bottom:0.1829em solid #000;} 
tr#TBL-649-1- {border-top:0.1829em solid #000;} 
tr#TBL-649-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-649-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-653-1- {border-top:0.1829em solid #000;} 
tr#TBL-653-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-653-2- {border-bottom:0.06096em solid #000}
tr#TBL-653-3- {border-bottom:0.06096em solid #000}
tr#TBL-653-4- {border-bottom:0.1829em solid #000;} 
tr#TBL-657-1- {border-top:0.1829em solid #000;} 
tr#TBL-657-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-657-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-661-1- {border-top:0.1829em solid #000;} 
tr#TBL-661-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-661-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-665-1- {border-top:0.1829em solid #000;} 
tr#TBL-665-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-665-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-669-1- {border-top:0.1829em solid #000;} 
tr#TBL-669-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-669-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-673-1- {border-top:0.1829em solid #000;} 
tr#TBL-673-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-673-2- {border-bottom:0.1829em solid #000;} 
tr#TBL-677-1- {border-top:0.1829em solid #000;} 
tr#TBL-677-1- {border-bottom:0.1829em solid #000;} 
tr#TBL-677-2- {border-bottom:0.06096em solid #000}
tr#TBL-677-3- {border-bottom:0.1829em solid #000;} 
/* end css.sty */

